  /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #00C2EE;
  }
  b{
    font-weight: 600;
  }
  ol, ul {
    list-style: none;
  }
  button{
    border-radius: 5px;
    color:white;
    height: 40px;
    outline: none;
    border:none;
    cursor: pointer;
    min-width: 60px;
    margin: 5px;
  }
   button:disabled{
    box-shadow: none !important;
    cursor: not-allowed;
    background-color: #B6C6E0 !important;
    color: white !important;
    width: 165px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  } 

p{
  font-weight: 400;
  color: #323232;
  font-size: 12px;
}

h1{  
  color:white;
  font-size: 24px;
  font-weight: 900;  
}

h2{
  color:white;
  font-size: 16px;
  font-weight: 400;  
}

label{
  color:#323232;
  font-size: 14px;
  font-weight: 400;  
}

input{
  color:#4F595F;
  font-size: 16px;
  width:100%;
  border:0px;
  border-bottom: 1px solid #868F9B;
  font-family: 'Lato', sans-serif;
  margin-top: 12px;
  margin-bottom: 25px;
  background-color: transparent;
}

  input:focus{
    outline: none;  
  }

  select{
    color:#4F595F;
    font-size: 16px;
    width:100%;
    border:0px;
    border-bottom: 1px solid #868F9B;
    font-family: 'Lato', sans-serif;
    margin-top: 12px;
    margin-bottom: 25px;
    background-color: transparent;
  }

  select:focus{
    outline: none;  
  }
