@import "../sass/variables.scss";
.dashboard__container{
    padding: 30px;
}
.title__container{
    margin-top: 120px;
}
.form__container{
    margin-top: 40px;
}
@media (min-width: 360px) {
  
}
@media (min-width: 480px) {
   
}
@media (min-width: 720px) {
    
}
@media (min-width: 1023px) {
    
}
@media (min-width: 1280px) {
    
}
@media (min-width: 1600px) {
    
}
