@import "../sass/variables.scss";
.dashboard__container{
    padding-top: 30px;
    background-color: $primaryColor;
    height: 100%;
}
.title__container{
    margin-top: 120px;
    margin-left: $margin;
}
.form__container{
    margin-top: 40px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: $margin;
    box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: 0.1);
}
.form--error{
    margin-top: -23px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color:$greytext;
  }

  .footer__container{
      margin-top: 30px;
      text-align: center;
      button{
          display: inline-block;
      }
  }
  .terms__container{
      margin-top: 10px;
      font-size: 13px;
      color: $blacktext;
  }
  .button__container{
      width: 100%;
  }
  .registros{
      display: none;
  }
  .row{
     padding:0px $margin;
     border-bottom: 0.5px solid $greytext;
     display: flex;
    justify-content: space-between;
    &:last-child {
        border-bottom: none;
      }
      p{
          font-size: 14px;
      }
  }
  .footer{
      bottom: 0;
  }
  .toast__container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      overflow: visible;
  }
@media (min-width: 360px) {
    .button__container{
       text-align: right;
    }
}
@media (min-width: 480px) {
    .dashboard__container{
        display: flex;
        flex-direction: column;
    }
    .form__container{
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 30px;
    }
    .title__container{
        margin-left: 10%;
    }
    .registros{
        display: block;
        margin-left: 10%;
        margin-top: 30px;
    }
    .table--desktop{
        margin-top: 20px;
        background-color: white;
        border-radius: 30px;
        margin-left: 0;
        margin-right: 10%;
        margin-bottom: 20px;
        box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: 0.1);
    }
}
@media (min-width: 720px) {
    
    .dashboard__container{
        flex-direction: row;
        justify-content: space-around;
    }
    .form{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .title__container{
        margin-top: 50px;
    }
}
@media (min-width: 1023px) {
    
}
@media (min-width: 1280px) {
    .dashboard__container{
        padding-right: 10%;
        padding-left: 10%;
    }
}
@media (min-width: 1600px) {
    
}
