@import "../../sass/variables.scss";

button {
    &.primary {
      cursor: pointer;
      color: white;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: $primaryColor;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      width: 100%;
      font-family: "Lato", sans-serif;
      transition: all 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
      box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.1);
    }
    &.primary:hover{
      background-color: $hoverColor;
      box-shadow: 0px 6px 6px rgba($color: #000000, $alpha: 0.1);
    }
    &.primary:active{
      background-color: $activeColor;
    }

    &.secondary{
      min-width: 100px;
        background-color: white;
        color:$primaryColor;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        transition: all 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    }
    &.secondary:hover{
      color:$hoverColor;
    }
    &.secondary:active{
      color:$activeColor;
    }
    &.link {
      cursor: pointer;
      font-family: "Lato", sans-serif;
      outline: none;
      background-color: transparent;
      color: $primaryColor;
      font-size: 13px;
      max-width: 100%;
      border: none;
      margin: 0px;
    }
    &.link:hover{
      text-decoration: underline;
    }
    &.link:active{
      color:$activeColor;
    }
  
}  

@media (min-width: 360px) {
  button{
    &.primary {
      width: 180px;
      display: inline-block;
    }
  }
  
}
@media (min-width: 480px) {
   
}
@media (min-width: 720px) {
    
}
@media (min-width: 1023px) {
    
}
@media (min-width: 1280px) {
    
}
@media (min-width: 1600px) {
    
}
