@import "../../sass/variables.scss";
.row{
    padding:10px $margin;
    border-bottom: 0.5px solid $greytext;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   &:last-child {
       border-bottom: none;
     }
     p{
         font-size: 14px;
     }
 }
 .registros{
    margin-left: 10%;
    margin-top: 30px;
}
.title__container{
    margin-top: 120px;
    margin-left: $margin;
}
.table--desktop{
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    margin-left: 0;
    margin-right: 10%;
    margin-bottom: 20px;
    box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: 0.1);
    
}
.buttons__container{
     position: fixed;
     bottom: 20px;
     margin: 0 auto;
     width: 80%;
}
 
@media (min-width: 360px) {
    .button__container{
       text-align: right;
    }
}
@media (min-width: 480px) {
   .row{
       flex-direction: row;
   }
}
@media (min-width: 720px) {
    .registros{
        margin-top: 0px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .table--desktop{
        margin-top: 55px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .title__container{
        margin-top: 50px;
    }
    .buttons__container--desktop{
        text-align: right;
        button{
            display: inline-block;
        }
    }
}
@media (min-width: 1023px) {
    
}
@media (min-width: 1280px) {
    
}
@media (min-width: 1600px) {
    
}
